*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    margin: auto;
    position: relative;
}

.display {
    margin-top: 0.8rem;
    border: 1px solid #3e3d3f;
    background-color: rgb(123, 164, 240);
}

.alert-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    width: 60%;
    height: 60%;
    border-radius: 15px;
    padding: 50px;
    display: none;
}

.alert-box h1{
    margin-top: 3rem;
    text-align: center;
    color: #d93636;
}

.alert-box p{
    text-align: center;
    color: #ffffff;
}

.alert-box .btn-s{
    margin-left: 3rem;
}

.index-bg{
    background-color: cornflowerblue;
}

.form{
    width: 50%;
    margin: 10rem auto;
}

/*utilities:*/
.fs-lbl{
    font-weight: bold;
    font-size: 1.2rem;
    color: whitesmoke;
    text-shadow: 2px 1px #3e3d3f;
}
.fs-btn{
    font-weight: bold;
    font-size: 1.6em;
    color: whitesmoke;
}

.shadow {
    box-shadow: 1px 3px #3e3d3f;
}

.food {

}
